/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
   color: #2A3F54;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50% !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*-------------------------->>>Dashboard styles<<<<--------------------------------*/

.dashboard {
    margin: -23px 10px 0 -14px;
    display: block;
    background-color: #2A3F54;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    border-radius:5px;
}
.dashboard-ul-list{
    list-style:none;
    margin-top:80px;
}
.pb-3
{
    display: flex !important;
}
.dashboard-cont-link a {
    display:inline-block;
    padding: 10px;
    margin-bottom: 10px;
    width:100%
}
.dashboard-cont-link:hover > a {
    background-color: rgba(255,255,255,0.75);
}
.fa-x 
{
     display: block;
     cursor: pointer;
     color: white;
     padding: 10px;
     font-size: 25px;
     margin-left: 240px;
     margin-top:10px;
}
.cont_Img_user{
    display:flex;
    justify-content:center;
    
}

.fa-x:hover {
        color: rgba(255,255,255,0.75);
}
.img_user_Avantar {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px white;
    object-fit:contain;
}
.style_DropDown_Btn {
    width: 200px !important;
    height:50px;
}
.fa-bars {
    color: #2A3F54;
    font-size: 30px;
}
.fa-bars:hover
{
     color: #0d6efd;
}
.Cont-btn_Opne {
     height: 20px;
     display: none;
     cursor: pointer;
     color: white;
}
.cont_Welcome{
    margin-top:10px;
    margin-bottom:-60px;
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   text-align:center;
}
.p_welcome{
    color:white;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    width:100%;
}
.p_user {
    font-style:italic;
    color: white;
    font-weight: bold;
    width: 100%;
}
/*Styles Home Admin*/
.img_Index_admin{  
    height:150px;
    margin:auto;
    object-fit:contain;
}
.cont_Img_Index_admin {
    border: solid #2A3F54 1.4px;
    border-radius:6px;
    width: 200px;
    margin: auto;
    margin-bottom: 7px;
}
.container_index_Admin {
    display: flex;
    flex-wrap:wrap;    
    justify-content:center;
    width:900px;
    margin:auto;
}
.cont_Card_Index {
    margin: 10px;
    width: 350px;
}
.contCard_Body{
    height:310px;
}
.cont_index_Title{
    
    text-align:center;
    margin-top:40px;
    margin-bottom:10px;
}
    .cont_index_Title h4 {
        color: #2A3F54;
        font-size:37px;
    }

/*Table Agent styles*/
.cont_Table {
    margin: auto;
}
.title_table {
    background-color: #2A3F54;
}
/*Table developer styles*/
.cont_btn_createGeneric{
    margin-bottom:10px;
}
.cont_Card_Register{
    width:500px;
}
.title_Register{
    text-align:center;
}
/*Styles typeImmovable*/

.cont_Card_Type_Immovable {
    display: flex;
    justify-content: center;
    width: 380px;
    margin:auto;
    margin-bottom:10px;
}

.btn_Type_Immovable{
    display:flex;
    justify-content:center;
}
/*Style cards*/
.card_Title {
    background-color: #2A3F54;
}
.card_Title h4{
    color:white;
}