@using RealtyApp.Core.Application.ViewModels.ImmovableAssetType;
@model ImmovableAssetTypeSaveViewModel
@{
    ViewData["Title"] = "Eliminar tipo de propiedad";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header card_Title text-light">
                <h4 class="text-white">Esta seguro que desea eliminar el tipo de propiedad:  @Model.Name?</h4>
            </div>
            <div class="card-body cont_BodyType_Immovable">

                <form method="post" asp-controller="ImmovableType" asp-action="Delete">

                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                    <a asp-controller="ImmovableType" asp-action="Index" class="btn btn-outline-warning">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

</div>

