@using RealtyApp.Core.Application.ViewModels.User;
@model SaveUserViewModel

@{
    ViewData["Title"] = $"Mi Perfil - {Model.FirstName} {Model.LastName}";
}

<div class="container">

    <div class="row text-dark">
          <h1 class="text-lead">@($"Mi Perfil - {Model.FirstName} {Model.LastName}")</h1>
          <small>Edite su información de perfil...</small>
    </div>

    <div class="row">

            @if (Model.HasError)
            {
                <h6 class="text-danger m-lg-3">@Model.Error</h6>
            }

            <div class="row">

                <form class="form p-4" method="post" asp-controller="Agent" asp-action="MyProfile" enctype="multipart/form-data">
                    
                    <div class="col-12 d-flex justify-content-center">
                        <img src="@Model.ImageUrl" class="avatar-img rounded-circle" style="width: 75px; height: 75px; margin: 0px 3px 0px 0px;">
                    </div>

                    <input type="hidden" asp-for="ImageUrl" />

                    <div class="col-12 p-3">

                         <div class="mb-3 row">
                            <label asp-for="File" class="form-label">Imagen de perfil:</label>
                            <input asp-for="File" class="form-control" name="File">
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row">
                            <label asp-for="FirstName" class="form-label">Nombre</label>
                            <input asp-for="FirstName" class="form-control" id="">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
  
                        <div class="mb-3 row">
                            <label asp-for="LastName" class="form-label">Apellido</label>
                            <input asp-for="LastName" class="form-control" id="">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row">
                            <label for="inputPassword" asp-for="Phone" class="form-label">Teléfono</label>
                            <input asp-for="Phone" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-success mb-3">Guardar</button>
                    </div>

                    <div class="mb-3 row">
                        <a class="btn btn-warning mb-3" asp-controller="Agent" asp-action="Index">Cancelar</a>
                    </div>

                </form>

            </div>
    </div>

</div>

