@using RealtyApp.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


    <div class="col-6 offset-3 cont_Login">
        <div class="card shadow-sm" >
            <div class="card-body">
                <div class="cont_Img_Index_admin">
                    <img class="bd-placeholder-img card-img-top img_Index_admin" src="~/Images/User/registger_Usedr.png" />
                </div>
                @Html.ValidationSummary(false, "", new { @class = "text-danger login_Error" })
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p class="">@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form method="post" asp-controller="User" asp-action="Index">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Correo del usuario</label>
                        <input class="form-control" asp-for="Email">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Contraseña</label>
                        <input class="form-control" asp-for="Password">
                    </div>

                    <button type="submit" class="btn btn-outline-primary float-end">Iniciar seción</button>
                </form>

            </div>
        </div>
    </div>


