@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="background-image: url('https://images.wondershare.com/mockitt/examples/brickshare.jpg'); background-attachment:fixed; background-repeat:no-repeat; width:100vw; height:100vh;">

    <span>
        Prueba, aqui nuestro Login: https://images.wondershare.com/mockitt/examples/brickshare.jpg
    </span>

</div>