@using RealtyApp.Core.Application.ViewModels.User;
@model SaveUserViewModel
@{
    ViewData["Title"] = "Registro de usuarios";

}

<div class="container cont_Card_Register">

    <div class="text-dark title_Register">
        <h4>Registro de usuario @Model.TypeUser</h4>
    </div>

    <div class="row">

        <div class="card shadow-sm ">

            <div class="card-body contCard cont_Card_Register">
                
                @if (Model.HasError)
                {
                    <p class="text-danger">@Model.Error</p>
                }

                <form method="post" asp-controller="Admin" asp-action="Register" class="form p-4">

                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label">Nombre: </label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label">Apellido: </label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CardIdentification" class="form-label">Cedula: </label>
                        <input asp-for="CardIdentification" class="form-control" />
                        <span asp-validation-for="CardIdentification" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Correo: </label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label"> Telefono: </label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Contraseña: </label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <input asp-for="TypeUser" type="hidden" />

                    <div class="btn-group w-100">
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                        <a asp-controller="Admin" asp-action="@(Model.TypeUser == "Developer" ? "Developers" : "Administrators")" class="btn btn-outline-warning">Volver atras</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
